#hero {
  display: flex;
  align-items: center;
  height: calc(100vh - var(--header-height));
  background: var(--white);
  padding-bottom: 25px;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    :first-child {
      font-family: var(--font-body);
      font-size: 1rem;
      font-weight: normal;
    }

    :nth-child(2) {
      font-family: var(--font-headers);
      font-size: 3rem;
      color: var(--primary);
    }
  }
}

.description {
  color: var(--gray);

  span {
    font-weight: bold;
    color: var(--primary);
  }
}

.cta-container,
.socials-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.cta-container {
  margin: 25px 0;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  :first-child {
    color: var(--white);
    background-color: var(--primary);
    padding: 0.75rem 1.5rem;
    margin-right: 20px;

    &:hover,
    &:focus {
      background-color: var(--rust);
      box-shadow: 0 5px 15px var(--lightgray);
    }
  }

  :nth-child(2) {
    --theme: var(--black);

    color: var(--theme);
    border: 2px solid var(--theme);
    padding: 0.5rem 1.1rem;

    &:hover,
    &:focus {
      --theme: var(--rust);
    }
  }
}

.socials-container {
  margin-top: 10px;
  justify-content: flex-end;

  a {
    display: flex;
    color: var(--white);
    background-color: var(--black);
    padding: 10px;
    border-radius: 50%;
    align-items: center;
    transition: all 0.2s ease-in;

    &:hover,
    &:focus {
      background-color: var(--gold);
    }
  }

  a + a {
    margin-left: 10px;
  }
}
