@mixin flex($direction, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin fullWidthHeight {
  width: 100%;
  height: 100%;
}
