@import "./mixins";
@import "./animations";

#about {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
}

.about__inner {
  @include flex(column, center, center);
  @include fullWidthHeight;
}

.about__content {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  gap: 3rem;
}

.about-text {
  flex: 1;
  width: 100%;

  p {
    text-align: left;
    color: var(--gray);
    margin-bottom: 15px;
    font-size: var(--fontsize-s);
  }
}

.about__img-wrap {
  flex: 1;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
}

.about__img {
  width: 100%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  .about-text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .about__content {
    flex-direction: row;
    align-items: flex-start;
    gap: 75px;
  }
}
