@import "./mixins";

#about {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
}

.about__inner {
  @include flex(column, center, center);
  width: 100%;
}

.about__content {
  @include flex(column);
  @include fullWidthHeight;
  gap: 50px;
}

.about-text p {
  text-align: left;
  max-width: 90ch;
  color: var(--primary);
  margin-bottom: 15px;
  font-size: 1rem;
}

.about__image-wrap {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.about__img {
  width: 100%;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (min-width: 850px) {
  .about__content {
    flex-direction: row;
  }
}
