@import "./mixins";

#about {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  z-index: 3;

  &::after {
    @include fullWidthHeight;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: var(--bg-primary);
    transform-origin: left bottom;
    transform: skewY(5deg);
    z-index: -1;
  }
}

.about__inner {
  @include flex(column, center, center);
  width: 100%;
}

.about__content {
  @include flex(column);
  @include fullWidthHeight;
  gap: 50px;
}

.about-text p {
  text-align: left;
  max-width: 100ch;
  color: var(--primary);
  margin-bottom: 15px;
}

.about__image-wrap {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}

.about__img {
  width: 100%;
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .about__content {
    flex-direction: row;
  }
}
