@import "./mixins";

#about {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  z-index: 3;

  &::after {
    @include fullWidthHeight;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: var(--bg-primary);
    transform-origin: left bottom;
    transform: skewY(5deg);
    z-index: -1;
  }
}

.about__inner {
  @include flex(column, center, center);
  width: 100%;
}

.about-text {
  margin-bottom: 35px;

  p {
    text-align: left;
    color: var(--primary);
    margin-bottom: 15px;
  }
}

.about-image__container {
  @include flex(row, center);
  @include fullWidthHeight;
  position: relative;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--primary);
}
