@import "./mixins";

#contact {
  @include flex(row, center);
  @include fullWidthHeight;
  background-color: var(--bg-primary);
  z-index: 1;
}

.contact__inner {
  @include flex(column, center, flex-start);
  width: 100%;

  p {
    text-align: center;
    font-family: var(--body-font);
  }
}

.contact__card {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  position: relative;
  text-align: center;
  padding: 15px 10px;
  padding-bottom: 100px;
  border-radius: 5px;
  background-color: var(--bg-secondary);

  h2 {
    position: relative;
    font-size: var(--fontsize-m);
    color: var(--primary);
    letter-spacing: 1px;
    margin-bottom: 1.5rem;

    &::after {
      position: absolute;
      left: 0;
      bottom: -7px;
      content: "";
      width: 100%;
      height: 3px;
      background-color: var(--secondary);
    }
  }

  p {
    color: var(--primary);
    margin-bottom: 5px;

    & + p {
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--secondary);
    }
  }

  a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--secondary);
    margin-bottom: 10px;
    transition: all 0.2s ease;

    .io-mail {
      width: 100%;
      color: var(--primary);
      transition: inherit;

      :nth-child(3),
      :nth-child(4) {
        transition: inherit;
        color: hsl(0, 0%, 50%);
      }
    }

    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 0 0 13px hsla(0, 0%, 0%, 0.25);

      .io-mail > :nth-child(3),
      .io-mail > :nth-child(4) {
        color: hsl(120, 100%, 50%);
        transform: translateY(-65px);
      }
    }
  }
}

.contact__form-wrap {
  @include flex(row, center);
  position: relative;
  top: -5em;
  width: 100%;
}

.form__inner {
  width: 80%;
  max-width: 500px;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  background: var(--secondary);
  box-shadow: 0 3px 20px -3px hsla(0, 0%, 0%, 0.5);

  .form__header {
    @include flex(column, flex-start, center);
    margin-bottom: 20px;

    & > div span {
      display: inline-flex;
      align-items: center;
      color: var(--primary);
      font-size: var(--fontsize-s);
      margin-left: 5px;
    }
  }

  form {
    @include flex(column, flex-start, center);
    width: 100%;
    max-width: 500px;
    background-color: inherit;

    input,
    textarea {
      width: 100%;
      font-family: inherit;
      font-size: var(--fontsize-s);
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 5px 8px;
      margin-bottom: 15px;
    }

    button {
      font-family: inherit;
      outline: none;
      border: none;
      padding: 10px 15px;
      border-radius: 25px;
      color: hsl(0, 0%, 100%);
      background-color: hsl(0, 0%, 0%);
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
      }
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
}

@media screen and (min-width: 768px) {
}
