@import "./mixins";
@import "./animations";

#contact {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  background-color: var(--bg-primary);
}

.contact__header {
  @include flex(column, center, flex-start);
  @include fullWidthHeight;

  h2 {
    position: relative;
    font-family: var(--font-headers);
    font-size: var(--fontsize-l);
    color: var(--primary);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2rem;

    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: "";
      width: 100%;
      height: 3px;
      background-color: var(--secondary);
    }
  }

  p {
    font-size: 1rem;
    color: var(--gray);
  }
}

.contact__inner {
  @include flex(column, center, center);
  width: 100%;

  p {
    text-align: center;
    font-family: var(--body-font);
  }
}

.contact__form-wrap {
  @include flex(column, flex-start, center);
  width: 100%;
  padding: 25px 0;
  border-radius: 5px;
  margin-bottom: 4rem;
  background: var(--secondary);
  box-shadow: 0 3px 20px -3px hsla(0, 0%, 0%, 0.5);
}

.form-wrap__header {
  @include flex(column, flex-start, center);
  margin-bottom: 2.5rem;

  & > svg {
    width: 75px;
    height: 75px;
    color: hsl(0, 0%, 100%);
  }

  & > div span {
    display: inline-flex;
    align-items: center;
    color: var(--primary);
    font-size: var(--fontsize-s);
    margin-left: 5px;
  }
}

form {
  @include flex(column, flex-start, flex-start);
  width: 90%;
  font-size: var(--fontsize-s);
  background-color: inherit;

  button {
    font-family: inherit;
    outline: none;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
    }
  }
}

.form-item {
  position: relative;
  width: 100%;

  label {
    pointer-events: none;
    cursor: text;
    position: absolute;
    top: calc(1rem + 0.5em);
    left: 10px;
    color: hsl(0, 0%, 49%);
    font-size: inherit;
    transform: translateY(-50%);
    z-index: 10;
    transition: all 0.2s ease-out;
  }

  .label-outer {
    color: var(--primary);
    transform: translate(-0.5em, -3.15em);
  }

  input,
  textarea {
    position: relative;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    border: 2px solid var(--secondary);
    padding: 10px;
    margin-bottom: 40px;
    resize: none;

    &:focus {
      border: 2px solid hsl(0, 0%, 0%);

      & + label {
        color: var(--primary);
        transform: translate(-0.5em, -3.15em);
      }
    }
  }
}

.submit-message {
  width: 100%;

  p {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: var(--fontsize-s);
    background: hsla(0, 0%, 0%, 0.2);
  }
}

.contact__links {
  @include fullWidthHeight;
  background-color: inherit;
}

.links__wrap {
  @include flex(column, flex-start, flex-start);
  @include fullWidthHeight;

  ul {
    list-style: none;
  }

  li {
    @include flex(column);
    margin-bottom: 2rem;

    h4 {
      @include flex(row, flex-start, center);
      font-size: var(--fontsize-m);
      color: var(--primary);
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    span {
      color: var(--secondary);
      margin-left: 0.5em;

      & > svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }

    a {
      font-family: inherit;
      color: var(--gray);
      font-size: 1rem;
      text-align: left;

      &:hover,
      &:focus {
        color: var(--primary);
      }
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .contact__inner {
    @include flex(row, flex-start);
    @include fullWidthHeight;
    gap: 3rem;
  }

  .contact__links {
    flex: 1;
  }

  .contact__form-wrap {
    flex: 2;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  .contact__inner {
    gap: 4rem;
  }

  .contact__header h2 {
    font-size: var(--fontsize-xl);
    margin-bottom: 3rem;
  }

  form {
    font-size: 1rem;

    input,
    textarea {
      margin-bottom: 50px;
    }
  }
}
