@import "./mixins";

footer {
  @include flex(row, center);
  width: 100%;
  height: 100px;
}

.footer__inner {
  @include flex(row, center, flex-end);
  position: relative;
  padding: 25px 0;

  p {
    text-align: center;
    font-size: var(--fontsize-s);
    color: var(--gray);

    a {
      color: var(--secondary);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--primary);
      }
    }
  }
}
