@import "./mixins";

footer {
  @include flex(row, center);
  width: 100%;
  height: 100px;
}

.footer__inner {
  @include flex(column, flex-end, center);
  position: relative;
  padding: 10px 0;

  p {
    text-align: center;
    font-size: var(--fontsize-s);
    color: var(--gray);

    a {
      color: var(--secondary);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--primary);
      }
    }
  }
}

.footer__socials {
  @include flex(row, center, flex-end);
  margin-bottom: 25px;

  a {
    @include socialIcons;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  footer {
    height: 125px;
  }

  .footer__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
  }

  .footer__socials {
    margin-bottom: 0;
  }
}
