@import "./mixins";

footer {
  @include flex(row, center);
  width: 100%;
  height: 150px;
  border-top: 1px solid var(--lightgray);
}

.footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;

  p {
    text-align: center;
    font-size: var(--fontsize-s);
    color: var(--gray);

    span {
      color: var(--secondary);
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;

  a {
    & + a {
      margin-left: 15px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: hsl(0, 0%, 0%);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      background-color: var(--gold);
      transform: translateY(-3px);
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  footer {
    height: 125px;
  }

  .footer__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
  }

  .socials {
    margin-bottom: 0;
  }
}
