@import "./mixins";

.header {
  @include flex(row, center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  color: var(--primary);
  background-color: inherit;
  transition: all 0.5s ease;
  z-index: 999;
}

.header__show {
  transform: translateY(0);
  box-shadow: 0 5px 30px -10px hsla(0, 0%, 0%, 0.6);
}

.header__hide {
  transform: translateY(calc(-2 * var(--header-height)));
}

.header__inner {
  @include flex(row, flex-start, center);

  position: relative;
  width: 100%;
  padding: 20px 0px;
}

.header__logo-wrap {
  @include flex(row, center, center);
  width: 50px;
  height: 100%;
  font-family: var(--font-headers);
  color: var(--secondary);
  font-size: var(--fontsize-xl);

  a {
    @include flex(row, center, center);
    @include fullWidthHeight;
  }

  .logo {
    @include fullWidthHeight;
    background: var(--bg-color);
    color: var(--secondary);
  }
}

.menu-wrap {
  @include flex(row, flex-end, center);
  @include fullWidthHeight;

  position: relative;
  z-index: 999;
  background: inherit;
}

.default-nav {
  display: flex;

  ul {
    display: flex;
    list-style: none;

    :not(:last-child) {
      margin-right: clamp(35px, 5vw, 50px);
    }

    li {
      @include flex(row, center, center);

      a {
        display: block;
        font-size: clamp(1rem, 1.5vw, var(--fontsize-m));
        font-family: var(--font-headers);
        color: hsl(0, 0%, 100%);
        transition: all 0.2s ease;

        &:hover,
        &:focus {
          color: var(--gray);
        }
      }
    }

    :first-child a {
      color: var(--secondary);

      &:hover,
      &:focus {
        color: hsla(7, 59%, 38%, 0.75);
      }
    }
  }
}

.toggler {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 50px;
  opacity: 0;
  z-index: 999;

  &:checked ~ .menu {
    right: 0;
    transition: all 0.3s ease;
  }
}

.hamburger-icon {
  @include flex(row, center, center);

  position: absolute;
  width: 35px;
  height: 50px;
  background: inherit;
  z-index: 99;

  & > div {
    @include flex(row, center, center);

    position: relative;
    width: 100%;
    height: 2px;
    background: hsl(0, 0%, 100%);

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: inherit;
      z-index: 9;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }
}

.menu {
  @include fullWidthHeight;
  position: fixed;
  top: 0;
  right: -150%;
  padding: 60px 40px;
  overflow: hidden;
  background-color: hsl(7, 59%, 38%);
  transition: all 0.3s ease;

  ul {
    @include flex(column, center, center);
    @include fullWidthHeight;

    list-style: none;

    li {
      text-align: center;
      outline: none;
      border: none;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 10px;
      overflow: hidden;

      &:hover,
      &:active {
        box-shadow: 0 5px 15px -3px hsla(0, 0%, 0%, 0.45);
      }
    }

    a {
      position: relative;
      display: block;
      padding: 15px;
      font-size: var(--fontsize-m);
      letter-spacing: 1px;
      color: hsl(0, 0%, 100%);

      &:hover,
      &:focus {
        background-color: hsla(0, 0%, 100%, 0.15);
      }

      span {
        @include flex(row, flex-start, center);

        position: relative;
        left: 50%;
        width: fit-content;
        transform: translate(-50%);
      }
    }
  }

  & > div {
    @include flex(row, center, center);

    a {
      @include socialIcons;
    }
  }
}

.nav-item-icon {
  margin-right: 20px;
}
