@import "./mixins";
@import "./animations";

.header {
  @include flex(row, center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  color: var(--primary);
  background-color: inherit;
  z-index: 999;
}

.header__shadow {
  box-shadow: 0 5px 30px -10px hsla(0, 0%, 0%, 0.6);
}

.header__inner {
  @include flex(row, flex-start, center);

  position: relative;
  width: 100%;
}

.header__logo-wrap {
  @include flex(row, center, center);
  width: 55px;
  max-width: 55px;
  min-width: 55px;

  a {
    @include flex(row, center, center);
    @include fullWidthHeight;
  }
}

.menu-wrap {
  @include flex(row, flex-end, center);
  @include fullWidthHeight;

  position: relative;
  z-index: 999;
  background: inherit;
}

.default-nav {
  display: flex;

  ul {
    display: flex;
    list-style: none;

    :not(:last-child) {
      margin-right: clamp(35px, 5vw, 50px);
    }
  }

  li {
    @include flex(row, center, center);

    a {
      display: block;
      font-size: 1rem;
      font-family: var(--font-headers);
      color: var(--primary);
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        color: var(--secondary);
      }
    }

    &:last-of-type a {
      @include fullWidthHeight;
      border: 1px solid var(--primary);
      border-radius: 5px;
      padding: 0.5em 1em;
      vertical-align: middle;
      color: var(--primary);
      background: inherit;

      &:hover,
      &:focus {
        border: 1px solid var(--secondary);
        color: var(--secondary);
      }
    }
  }
}

.toggler {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 50px;
  opacity: 0;
  z-index: 999;
}

.hamburger-icon {
  @include flex(row, center, center);

  position: absolute;
  width: 35px;
  height: 50px;
  background: inherit;
  z-index: 99;

  & > div {
    @include flex(row, center, center);

    position: relative;
    width: 100%;
    height: 2px;
    background: hsl(0, 0%, 100%);

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: inherit;
      z-index: 9;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }
}

.menu {
  @include fullWidthHeight;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  padding: 60px 40px;
  overflow: hidden;
  background-color: hsl(7, 59%, 38%);
  opacity: 0;
  z-index: 98;
  transition: all 0.3s ease;

  ul {
    @include flex(column, center, center);
    @include fullWidthHeight;

    list-style: none;

    li {
      text-align: center;
      border: none;
      width: 100%;
      margin-bottom: 20px;
    }

    a {
      display: block;
      border-radius: 5px;
      padding: 15px;
      font-size: var(--fontsize-m);
      letter-spacing: 1px;
      color: hsl(0, 0%, 100%);

      &:hover,
      &:focus {
        background-color: hsl(0, 0%, 0%);
        box-shadow: 0 5px 15px -3px hsla(0, 0%, 0%, 0.75);
      }
    }
  }
}

.menu__active {
  opacity: 1;
  right: 0;
}
