@import ".//mixins";

#hero {
  @include flex(row, flex-start, center);

  position: relative;
  height: calc(100vh - var(--header-height));
  max-height: 1080px;
  padding-bottom: 25px;
}

.hero__inner {
  @include flex(column, center, flex-start);

  h1 {
    width: 100%;
    margin-bottom: 15px;
    font-family: var(--font-headers);
    font-size: var(--fontsize-s);
    font-weight: normal;
    color: var(--primary);

    span {
      color: var(--secondary);
      letter-spacing: 1px;
    }
  }
}

.hero__text {
  @include flex(row, flex-start, center);
  margin-bottom: 15px;

  div {
    min-width: 5px;
    width: 5px;
    height: 95%;
    margin-right: 15px;
    background-color: var(--secondary);
  }

  p {
    font-size: var(--fontsize-m);
    color: var(--primary);
  }

  span {
    color: var(--secondary);
  }
}

.description {
  font-size: var(--fontsize-s);
  color: var(--primary);
  letter-spacing: 1px;

  span {
    color: var(--secondary);
  }
}

.cta-container,
.socials-container {
  @include flex(row, flex-start);
  width: 100%;
}

.cta-container {
  margin: 25px 0;

  a {
    @include flex(row, center, center);

    border-radius: 30px;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  :first-child {
    font-size: var(--fontsize-s);
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0.5em 1em 0.7em 1em;
    margin-right: 15px;

    // &:hover,
    // &:focus {
    //   // background-color: hsl(0, 0%, 0%);
    //   // box-shadow: 0 3px 10px hsl(0, 0%, 0%);
    // }
  }

  :nth-child(2) {
    font-size: var(--fontsize-s);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 0.5em 1em 0.6em 1em;

    // &:hover,
    // &:focus {
    //   --theme: var(--rust);
    // }
  }
}

.socials-container {
  justify-content: flex-start;

  a {
    display: flex;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 7%);
    padding: 7px;
    border-radius: 50%;
    align-items: center;
    transition: all 0.2s ease-in;

    // &:hover,
    // &:focus {
    //   background-color: var(--gold);
    // }
  }

  a + a {
    margin-left: 15px;
  }
}

.hero__overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 75%;
  background-color: hsla(0, 0%, 100%, 0.025);
}

/* MEDIA QUERIES */

@media screen and (min-width: 700px) {
  .description,
  .cta-container a {
    font-size: var(--fontsize-m);
  }

  .socials-container a > svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .description {
    max-width: unset;
  }
}
