@import ".//mixins";

#hero {
  @include flex(row, center, center);
  @include fullWidthHeight;
  position: relative;
  height: calc(100vh - var(--header-height));
  max-height: 1080px;
  padding-top: 25px;
  padding-bottom: 25px;
  scroll-margin-top: calc(var(--header-height));
}

.hero__overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height));
  max-height: 700px;
  background: linear-gradient(
    to bottom right,
    hsla(0, 0%, 14%, 0.41),
    hsla(0, 0%, 12%, 0.355)
  );
  overflow: hidden;
  transform: translateY(-50%);
  z-index: 0;
}

.hero__inner {
  @include flex(column, center, flex-start);
  @include fullWidthHeight;
  position: relative;
  z-index: 1;

  h1 {
    width: 100%;
    margin-bottom: 15px;
    font-family: var(--font-headers);
    font-size: clamp(var(--fontsize-xs), 2vw, 1rem);
    font-weight: normal;
    color: var(--primary);
    text-transform: uppercase;

    span {
      color: var(--secondary);
      letter-spacing: 1px;
    }
  }
}

.hero__text {
  @include flex(row, flex-start, center);
  margin-bottom: 20px;

  div {
    min-width: 5px;
    width: 5px;
    height: 100%;
    margin-right: clamp(15px, 2vw, 25px);
    background-color: var(--secondary);
  }

  p {
    font-size: clamp(var(--fontsize-m), 3.5vw, var(--fontsize-xxl));
    color: var(--primary);
    line-height: 150%;
    text-transform: uppercase;
  }

  span {
    color: var(--secondary);
  }
}

.description {
  font-size: clamp(var(--fontsize-xs), 2vw, 1rem);
  color: var(--primary);
  text-transform: uppercase;

  span {
    color: var(--secondary);
  }
}

.cta-container,
.socials-container {
  @include flex(row, flex-start);
  width: 100%;
}

.cta-container {
  margin: 25px 0;

  a {
    @include flex(row, center, center);

    border-radius: 30px;
    font-size: var(--fontsize-s);
    letter-spacing: 1px;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 0 0 15px 0 hsla(7, 69%, 54%, 0.8),
        0 0 15px hsla(0, 0%, 0%, 0.75);
    }
  }

  :first-child {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0.5em 1em;
    margin-right: 15px;
  }

  :nth-child(2) {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 0.5em 1em;
  }
}

.socials-container {
  justify-content: flex-start;

  a {
    @include socialIcons;
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .cta-container {
    :first-child {
      margin-right: 25px;
    }

    a {
      font-size: 1rem;
    }
  }

  .socials-container {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .socials-container a > svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__text {
    margin-bottom: 30px;
  }

  .cta-container {
    margin: 30px 0;
  }
}
