@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus,
  &:hover {
    outline: none;
  }
}

:root {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(7, 69%, 54%);
  --bg-primary: hsl(0, 0%, 13%);
  --bg-secondary: hsl(0, 0%, 17%);
  --gray: hsl(0, 0%, 60%);
  --font-headers: "Montserrat", Helvetica, sans-serif;
  --font-body: "Open Sans", Arial, sans-serif;
  --fontsize-s: 0.85rem;
  --fontsize-m: 1.25rem;
  --fontsize-l: 1.5rem;
  --fontsize-xl: 2rem;
  --fontsize-xxl: 2.5rem;
  --fontsize-xxxl: 3.25rem;
  --header-height: 70px;
  --sectionPaddingTop: 90px;
  --sectionPaddingSides: 25px;
  --sectionPaddingBottom: 50px;
}

#root {
  @include flex(column);
  @include fullWidthHeight;

  font-family: var(--font-body);
  background: var(--bg-primary);
}

.header__inner,
.footer__inner {
  padding-left: var(--sectionPaddingSides);
  padding-right: var(--sectionPaddingSides);
}

main {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;

  margin-top: var(--header-height);
}

section {
  position: relative;
  padding-top: var(--sectionPaddingTop);
  padding-right: var(--sectionPaddingSides);
  padding-bottom: var(--sectionPaddingBottom);
  padding-left: var(--sectionPaddingSides);
}

.section__header {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  margin-bottom: 4rem;

  h2 {
    position: relative;
    font-size: var(--fontsize-l);
    font-family: var(--font-headers);
    font-weight: normal;
    color: var(--primary);
    letter-spacing: 1px;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: "";
      width: calc(100% + 1.5rem);
      height: 3px;
      background-color: var(--secondary);
    }
  }
}

.container {
  @include fullWidthHeight;
  max-width: 1080px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  .header__inner,
  .footer__inner,
  section {
    --sectionPaddingSides: clamp(50px, 10%, 100px);
  }

  section {
    --sectionPaddingBottom: 75px;
  }

  .section__header h2 {
    font-size: var(--fontsize-xl);
  }
}

@media screen and (min-width: 1080px) {
  #about,
  #skills {
    padding-left: 0;
    padding-right: 0;
  }

  .about__inner,
  .skills__inner {
    padding-left: var(--sectionPaddingSides);
    padding-right: var(--sectionPaddingSides);
  }
}

@media screen and (min-width: 1440px) {
  .section__header h2 {
    font-size: var(--fontsize-xxl);
  }
}
