* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus,
  &:hover {
    outline: none;
  }
}

:root {
  --primary: hsl(0, 0%, 100%);
  --secondary: hsl(7, 69%, 54%);
  --bg-color: hsl(0, 0%, 13%);
  --card-bg-color: hsl(0, 0%, 15%);
  --gray: hsl(0, 0%, 51%);
  --font-headers: "Montserrat", Helvetica, sans-serif;
  --font-body: "Open Sans", Arial, sans-serif;
  --fontsize-s: 0.85rem;
  --fontsize-m: 1.25rem;
  --fontsize-l: 1.5rem;
  --fontsize-xl: 2rem;
  --fontsize-xxl: 2.5rem;
  --header-height: 70px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: var(--font-body);
  background: var(--bg-color);
}

header,
footer {
  padding-left: 25px;
  padding-right: 25px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: var(--header-height);
}

section {
  font-family: var(--font-body);
  scroll-margin-top: calc(var(--header-height) + 20px);
  padding: 0 25px 75px 25px;
}

.section__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  div {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
  }

  h2 {
    font-size: var(--fontsize-l);
    font-family: var(--font-headers);
    color: var(--primary);
    text-align: left;
    letter-spacing: 1px;
    padding-right: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  header,
  footer {
    padding-left: 75px;
    padding-right: 75px;
  }

  section {
    padding: 0 75px 100px 75px;
  }

  .section__header h2 {
    font-size: var(--fontsize-xl);
  }
}

@media screen and (min-width: 1024px) {
  header,
  footer {
    padding-left: 100px;
    padding-right: 100px;
  }

  section {
    padding: 0 100px 150px 100px;
  }
}

@media screen and (min-width: 1440px) {
  header,
  footer,
  section {
    padding-left: 225px;
    padding-right: 225px;
  }

  .section__header h2 {
    font-size: var(--fontsize-xxl);
  }
}

@media screen and (min-width: 1920px) {
  header,
  footer,
  section {
    padding-left: 400px;
    padding-right: 400px;
  }
}
