@import "./mixins";
@import "./animations";

.projects__inner {
  @include flex(column, flex-start, center);
}

.project-card {
  @include flex(column, center, flex-start);

  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  background: var(--bg-secondary);
  box-shadow: 0 0 35px -15px hsla(0, 0%, 0%, 0.75);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.project__img-wrap {
  @include fullWidthHeight;
  margin-bottom: 20px;
  overflow: hidden;

  a {
    @include fullWidthHeight;
    vertical-align: middle;
    outline: none;
    filter: grayscale(90%) contrast(0.75) brightness(90%);

    &:hover,
    &:focus {
      filter: unset;
    }
  }

  img {
    @include fullWidthHeight;
    border-radius: 5px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }
}

.card__inner {
  @include flex(column, flex-start, flex-start);
  @include fullWidthHeight;
  color: var(--primary);

  & > :not(:last-child) {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1rem;
    color: var(--secondary);
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    font-size: var(--fontsize-s);
    line-height: 150%;

    span {
      color: var(--secondary);
    }
  }

  ul {
    @include flex(row);
    flex-wrap: wrap;
    list-style: none;
    width: 100%;

    li {
      font-size: var(--fontsize-s);
      color: var(--gray);
      margin: 0 12px 3px 0;
    }
  }
}

.project-links {
  @include flex(row);

  & > :first-child {
    margin-right: 20px;
  }

  a {
    @include flex(row, center, center);
    font-size: var(--fontsize-s);
    padding: 5px 8px;
    border-radius: 5px;
    background: var(--secondary);
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all 0.2s ease;

    & > svg {
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:focus {
      color: hsl(0, 0%, 100%);
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  .project-card {
    padding: 25px;
  }

  .card__inner {
    h3 {
      font-size: var(--fontsize-m);
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .project-card {
    padding: 30px;

    h3 {
      font-size: var(--fontsize-l);
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .project-card {
    flex-direction: row-reverse;
    justify-content: flex-end;
    max-width: unset;
    padding: 20px;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  .card__inner {
    p {
      font-size: var(--fontsize-s);
      line-height: 160%;
    }

    & > :not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .project__img-wrap {
    max-width: 550px;
    max-height: 320px;
    margin: 0;

    // img {
    //   object-fit: cover;
    // }
  }
}
