.projects__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px -3px var(--lightgray);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.project-image {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.card__inner {
  width: 100%;
  margin-top: 15px;
  color: var(--black);

  p {
    font-size: var(--fontsize-s);
    margin-bottom: 15px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 15px;

    li {
      font-size: var(--fontsize-s);
      letter-spacing: 1px;
      color: var(--gray);
      margin: 0 12px 3px 0;
    }
  }
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;

  h3 {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: var(--fontsize-l);
    text-align: left;
    color: var(--primary);
  }
}

.project-links {
  display: flex;
  justify-content: flex-start;

  & > :first-child {
    margin-right: 20px;
  }

  a {
    color: var(--black);
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .project-card:nth-of-type(even) {
    flex-direction: row;

    .card__inner {
      padding: 0 0 0 20px;
      margin: 0;
    }
  }

  .project-card:nth-of-type(odd) {
    flex-direction: row-reverse;

    .card__inner {
      padding: 0 20px 0 0;
    }
  }

  .project-card:not(:last-child) {
    margin-bottom: 4rem;
  }
}
