@import "./mixins";

.projects__inner {
  @include flex(column, flex-start, center);
}

.project-card {
  @include flex(column, center, flex-start);

  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: var(--bg-secondary);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.project__img-wrap {
  position: relative;
  width: 100%;

  .project__img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(7, 69%, 54%, 0.35);
  }

  img {
    @include fullWidthHeight;
  }
}

.card__inner {
  @include flex(column);
  @include fullWidthHeight;
  color: var(--primary);

  h3 {
    font-size: var(--fontsize-m);
    color: var(--secondary);
    letter-spacing: 1px;
    margin: 20px 0;
  }

  p {
    font-size: var(--fontsize-s);
    line-height: 150%;
    margin-bottom: 20px;
  }

  ul {
    @include flex(row);
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 20px;

    li {
      font-size: var(--fontsize-s);
      color: var(--gray);
      margin: 0 12px 3px 0;
    }
  }
}

.project-links {
  @include flex(row);

  & > :first-child {
    margin-right: 20px;
  }

  a {
    @include flex(row, center, center);
    font-size: var(--fontsize-s);
    padding: 5px 8px;
    border-radius: 5px;
    background: var(--secondary);
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      color: hsl(0, 0%, 100%);
      box-shadow: 0 0 15px 0 hsla(7, 69%, 54%, 0.8),
        0 0 15px hsla(0, 0%, 0%, 0.75);
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 700px) {
  .project-card {
    padding: 2.5rem;

    h3 {
      font-size: var(--fontsize-l);
    }
  }
}

@media screen and (min-width: 850px) {
  .project-card {
    padding: 25px;
    gap: 25px;

    h3 {
      margin-top: 0;
    }

    &:nth-of-type(even) {
      flex-direction: row;
    }

    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}
