@import "./mixins";
@import "./animations";

#skills {
  @include flex(column, flex-start, center);
  @include fullWidthHeight;
  background-color: var(--bg-secondary);
}

.skills__inner {
  @include flex(column, center, center);
  @include fullWidthHeight;

  ul {
    @include fullWidthHeight;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 40px;
    place-items: center;
    text-align: center;
    list-style: none;
  }

  li {
    @include flex(column, center, center);
    @include fullWidthHeight;
    max-height: 103px;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    background: hsl(0, 0%, 20%);
    box-shadow: 0 0 15px -3px var(--bg-primary);

    p {
      letter-spacing: 1px;
      font-size: var(--fontsize-s);
      color: var(--primary);
      margin-bottom: 10px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.skills-icon {
  width: 40px;
  height: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  .skills__inner ul {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}
