* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus,
  &:hover {
    outline: none;
  }
}

:root {
  --gold: hsl(37, 69%, 54%);
  --rust: hsl(7, 69%, 54%);
  --primary: hsl(223, 100%, 60%);
  --primary-light: hsl(209, 96%, 79%);
  --primary-lighter: hsl(208, 100%, 94%);
  --secondary: hsl(209, 69%, 54%);
  --gray: hsl(0, 0%, 39%);
  --lightgray: hsl(0, 0%, 69%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --font-headers: "Montserrat", Helvetica, sans-serif;
  --font-body: "Open Sans", Arial, sans-serif;
  --fontsize-s: 0.85rem;
  --fontsize-m: 1.1rem;
  --fontsize-l: 1.25rem;
  --fontsize-xl: 1.5rem;
  --fontsize-xxl: 2rem;
  --header-height: 70px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
}

header,
footer {
  padding-left: 25px;
  padding-right: 25px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: var(--header-height);
}

section {
  font-family: var(--font-body);
  scroll-margin-top: var(--header-height);
  padding: 25px;
  padding-bottom: 75px;
}

.section__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  div {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
  }

  h2 {
    font-size: var(--fontsize-xl);
    font-family: var(--font-headers);
    color: var(--gray);
    text-align: left;
    letter-spacing: 1px;
    padding-right: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

a {
  cursor: pointer;
}
