.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Open Sans", "sans-serif";
  background: hsl(0, 0%, 100%);
  z-index: 99;

  div {
    a {
      color: var(--black);
      text-decoration: none;
    }
  }
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 10px 20px;
}

// .nav {
//   display: flex;

//   .navlink {
//     display: flex;
//     width: 100%;
//     padding: 10px 20px;
//     margin: 0 10px;
//     text-decoration: none;
//     text-align: center;
//     font-size: var(--fontsize-navlink);

//     &:hover {
//       color: var(--light-blue);
//     }
//   }

//   :last-child {
//     border: 1px solid var(--light-blue);
//     border-radius: 5px;
//     place-items: center;
//     padding: 0 10px;
//     color: var(--light-blue);

//     &:hover {
//       background: var(--light-blue);
//       color: #fff;
//     }
//   }
// }

.menu-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgb(255, 255, 255);
}

.toggler {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 999;

  &:checked ~ .menu {
    right: 0;
    transition: all 0.3s ease;
  }
}

.hamburger-icon {
  position: absolute;
  display: flex;
  place-items: center;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  background: hsl(0, 0%, 100%);
  z-index: 99;

  & > div {
    position: relative;
    display: flex;
    place-items: center;
    width: 100%;
    height: 2px;
    background: hsl(0, 0%, 0%);

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: inherit;
      z-index: 9;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -150%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 60px;
  overflow: hidden;
  background: hsla(0, 0%, 0%, 0.95);
  transition: all 0.3s ease;

  ul {
    width: 100%;
    height: 100%;
    list-style: none;

    a {
      color: hsl(0, 0%, 100%);
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 1441px) {
}
