.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h2 {
    width: 100%;
    max-width: 150px;
  }
}

.about-text {
  margin-bottom: 50px;

  p {
    font-family: var(--font-body);
    font-size: var(--fontsize-m);
    text-align: left;
    margin-bottom: 15px;
  }
}

.about-image__container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--primary);
}

.circle1,
.circle2 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--rust);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gold);
    z-index: 1;
  }
}

.circle1 {
  right: 0;

  &::after {
    top: -20px;
    left: -40px;
  }
}

.circle2 {
  bottom: 0;
  left: 0;

  &::after {
    bottom: -20px;
    right: -40px;
  }
}
