footer {
  width: 100%;
  height: 125px;
  border-top: 1px solid var(--lightgray);
}

.footer__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px 0;

  p {
    font-family: var(--font-body);
    color: var(--black);

    span {
      color: var(--primary);
    }
  }
}

.back-to-top {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -20px;
  color: var(--primary);
  background: var(--white);
  transition: all 0.25s ease-in-out;
  z-index: 10;

  &:hover,
  &:focus {
    color: var(--black);
    transform: translateY(-5px);
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  a {
    & + a {
      margin-left: 10px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--white);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.25s ease;

    &:hover,
    &:focus {
      background-color: var(--gold);
      transform: translateY(-3px);
    }
  }
}
